.menu1
{
    box-shadow: 1px 1px 1px #660;
    background-image: -moz-linear-gradient(top, #336698 0%, #02162B 100%);
    width:0px;    
}

.menu2
{
    box-shadow: 1px 1px 1px #660;
    background-image: -moz-linear-gradient(top, #645B99 0%, #02162B 100%);
    width:0px;    
}

.level1
{
    color: White;
	font-weight:bold;
	height:30px;
	font-size:10px;
	font-family:Arial;
	padding:10px 10px 10px 10px;
    cursor:pointer;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000111;
	text-align:center;
	text-decoration:None;
}

.level1:hover
{
    background-image: -moz-linear-gradient(top, #D4BC22 20%, #452D1E 80%);
}

.level1:disabled
{
    
}
.level2
{
    background-color: #616975;
    border-bottom:solid 1px #33373d;    
    box-shadow: inset 0px 1px 0px 0px #878e98;
        -webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
        -moz-box-shadow: inset 0px 1px 0px 0px #878e98;
    
    cursor:pointer;
    padding:0px 0px 0px 0px;
    line-height:2.75em;
    text-indent:2.75em;
    display:block;
    font-family: "Lucida Console","Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    font-size:10px;
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
    background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
}

.level2:hover
{
    background-image: -moz-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
}

.level3
{
    background: #cccccc;
	border-bottom: 1px solid #efeff0;
	/*padding:10px 10px 10px 10px;*/
	font-family: "Lucida Console","Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10px;	
	color: #000;
	
	border-bottom:solid 1px #33373d;    
    box-shadow: inset 0px 1px 0px 0px #878e98;
        -webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
        -moz-box-shadow: inset 0px 1px 0px 0px #878e98;
    
    cursor:pointer;
    padding:0px 0px 0px 0px;
    line-height:2.75em;
    text-indent:2.75em;
    display:block;
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
    background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
}

.level3:hover
{
	font-weight:bold;
}
	
.hoverstyle
{
    font-weight: bold;
}

.level4
{
    background: #cccccc;
	border-bottom: 1px solid #efeff0;
	padding:10px 10px 10px 10px;
	font-family: "Lucida Console","Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10px;	
	color: #000;
}

.level4:hover
{
	font-weight:bold;
}
	 
.divStyle
{
    box-shadow: 1px 1px 1px #666;
    border-radius:5px 0 0 5px;
    background-image:url(Sources/images/bg_Home.png), -moz-linear-gradient(top, #336699 0%, #02162B 100%);
    background-repeat:no-repeat;
    background-position:center;
    text-align:center;
    width:20px;
    height:25px;
    padding:10px 10px 0 10px;
    cursor:pointer;
    font-size:11px;
	font-family:Arial;
	font-weight:bold;
	color:White;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000;
}
.divStyle:hover
{
	 background-image:url(Sources/images/bg_Home.png), -moz-linear-gradient(top, #D4BC22 20%, #452D1E 80%);
	}
.divStyle1
{
    box-shadow: 1px 1px 1px #666;
    border-radius:0 5px 5px 0;
    background-image:url(Sources/images/cngpass.png), -moz-linear-gradient(top, #336699 0%, #02162B 100%);	    
    background-repeat:no-repeat;
    background-position:center;
    text-align:center;
    height:25px;
    width:20px;
    padding:10px 10px 0 10px;
    cursor:pointer;
    font-size:11px;
	font-family:Arial;
	font-weight:bold;
	color:White;
	
}
.divStyle1:hover
{
	 background-image:url(Sources/images/cngpass.png), -moz-linear-gradient(top, #D4BC22 20%, #452D1E 80%);
}